* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.4rem;
    font-family: "Open Sans", sans-serif;

}

.header_right ul li {
    list-style: none;
    font-size: 0.8rem;
    margin-right: 1.1rem;

}

.header_right a {
    color: white;
}

.header_right ul {
    display: flex;
    flex-wrap: wrap;
}

.header_left p {
    font-size: 0.8rem;
    color: white;
}

.header_left a {
    text-decoration: none;
    color: white;
}

.header_medium p {
    font-size: 0.8rem;
    color: white;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: 1rem;
}

.header_background {
    width: 100%;
    height: 50px;
}

.header_background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header_background {
    position: relative;
}

.header_left {
    position: absolute;
    top: 1rem;
    left: 3%;
}

.header_medium {
    position: absolute;
    top: 1rem;
}

.header_right {
    position: absolute;
    top: 1rem;
    right: 3%;
}

.header_words {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.main_logo {
    display: block;
    text-align: center;
}

.logo {
    width: 26%;
    padding-top: 5%;
}

.navbar_section {
    margin-top: 2rem;
}

.navbar_items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.navbar i {
    font-size: 1rem;
    margin-right: 1.2rem;
    color: #767272;
}

.special_list_item a {
    color: #B97A56;
}

.navbar_list ul {
    display: flex;
    flex-wrap: wrap;
}

.navbar_list_item {
    color: rgb(96, 95, 95);
}

.navbar_list ul li {
    font-size: 0.87rem;
    font-weight: 550;
    margin-right: 4rem;
}

.navbar_icon ul {
    display: flex;
    flex-wrap: wrap;
}

.navbar a {
    text-decoration: none;
}

.navbar li {
    list-style: none;
}

.right-icons .icons .basket_count {
    position: absolute;
    right: -9px;
    bottom: 13px;
    color: #f3995e;
    font-size: 18px;
    font-weight: 600;
    font-family: math;
}

.wishlist_count {
    position: absolute;
    right: 19px;
    bottom: 13px;
    color: #f3995e;
    font-size: 18px;
    font-weight: 600;
    font-family: math;
}

.hamburger_icon {
    cursor: pointer;
}

.hamburger_icon i {
    position: relative;
    right: 150px;
    top: 30px;
    font-size: 20px;
    color: #b97a56;
}

.hamburger_menu_list {
    width: 100%;
    background-color: white;
}

.hamburger_menu_list .close {
    transform: translateY(-300px);
    position: absolute;
    z-index: -500;
}

.nav_menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    text-align: left;
}

.navbar_menu a {
    text-decoration: none;
    color: #333;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 40px;
    letter-spacing: .1em;
    font-family: "Open Sans", sans-serif;
}

.navbar_menu a span:hover {
    color: #b97a56;
    transition: 0.1s;
}

.navbar_menu a i {
    float: right;
    margin-right: 50px;
    margin-top: 15px;
    font-size: 12px;
}

.navbar_menu a i:hover {
    color: #b97a56;
    transition: 0.1s;
}

.swiper .swiper_slide {
    text-align: center;
    font-size: 1.8rem;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-position: 100%;
    background-size: contain;
}

.swiper {
    position: relative;
}

.slider_title {
    position: absolute;
    animation: mymove 3s infinite;
    top: 14rem;
    z-index: 20;
    font-size: 3.4rem;
    font-family: "Crimson Text";
    height: auto;
    width: auto;
    color: rgb(78, 78, 78);
}

@keyframes mymove {
    0% {
        color: #ffffff1a;
        transform: translateY(0);
        margin-left: 0;
    }

    25% {
        color: #B97A56;
        transform: translateY(-10px);
        margin-left: 10px;
    }

    100% {
        color: #947564;
        transform: translateY(0);
    }
}

.slider_text {
    position: absolute;
    animation: mymove 3s infinite;
    z-index: 20 !important;
    width: 27%;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    line-height: 2.7rem;
    font-weight: 350;
    color: #6767678c;
    top: 52%;
}

.swiper_slide img {
    display: block;
    width: 100%;
    height: auto;
}

.swiper_slide img:nth-child(2) {
    position: absolute;
    z-index: 10;
    width: 40%;
    height: 40%;
}

.swiper_slide img:nth-child(3) {
    position: absolute;
    z-index: 20;
    width: 9%;
    height: 3%;
}

.arrivals_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.arrivals_content h4 {
    font-family: 'Alex Brush', cursive;
    font-size: 2.8rem;
}

.arrivals_content h2 {
    font-family: "Crimson Text";
    font-size: 2.5rem;
}


.product {
    position: relative;
    top: 80px;
}

.product_card {
    width: 220px;
}

.product_card img {
    width: 100%;

}

.product_img_hover {
    border: 2px solid #e1a385;
    position: absolute;
    top: 0%;
    height: 82%;
    width: 220px;
    opacity: 0;
    transition: 0.5s;
}

.product_img_hover i {
    position: absolute;
    right: 17px;
    top: 17px;
    font-size: 20px;
    color: #e1a385;
}

.add_btn_first {
    position: absolute;
    left: 1.2rem;
    bottom: 8rem;
    text-align: center;
    width: 11rem;
    border: 1px solid #e1a385;
    height: 15%;
    cursor: pointer;
}

.add_btn_first button {
    border: none;
    background-color: transparent;
    color: #e1a385;
    font-size: 1rem;
}

.add_btn_second {
    position: absolute;
    left: 1.8rem;
    top: 40%;
    text-align: center;
    width: 10rem;
    border: 1px solid #e1a385;
    height: 2rem;
    cursor: pointer !important;
}

.product_name {
    text-align: center !important;
    margin-top: 5% !important;
}

.product_name a {
    text-decoration: none;
    color: rgb(90 82 82);
    font-size: 18px;
    font-family: -webkit-body;
    font-weight: 600;
    margin-right: 5%;
}

.product_price {
    text-align: center;
    color: #6a6a6aed;
    font-size: 19px;
    margin-right: 5%;
}

.product_card:hover .product_img {
    filter: blur(20px);
    transition: 1s;
}

.product_card:hover .product_img_hover {
    opacity: 1;
}

.product_cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2.1rem;
}

.price_line {
    text-decoration: line-through;
}

.banner {
    margin-top: 9rem;
}

.banner_small_img {
    padding: 0 0 1rem 0;
}

.special_img {
    height: 12.4rem;
    width: 13.1rem;
}

.banner_big_img:hover .img-fluid {
    transform: scale(1.01);
    transition: 0.5s;
    cursor: pointer;
}

.banner_small_img:hover .img-fluid {
    transform: scale(1.08);
    transition: 0.5s;
    cursor: pointer;
}

.blogs {
    margin-top: 6rem;
}

.blogs_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.blogs_content h4 {
    font-family: 'Alex Brush', cursive;
    font-size: 2.8rem;
}

.blogs_content h2 {
    font-family: "Crimson Text";
    font-size: 2.5rem;
}

.blogs_write {
    margin-top: 5rem;
}

.blogs_write_item {
    width: 24rem;

}

.blogs_write_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blogs_write_item .blogs_write_item_time {
    font-weight: 300;
    font-size: 0.9rem;
    text-align: center;
}

.blogs_write_item h4 {
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.blogs_write_item h4:hover {
    color: #B97A56;
    transition: 0.5s;
}

.blogs_write_item p {
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.blogs_write_item_time:hover {
    color: #b97a56;
    transition: 0.5s;
}

.blogs_write_item a {
    color: black;
}

.blogs_write_items button {
    border: none;
    background-color: white;
    font-family: "Crimson Text";
    font-size: 1.2rem;
    margin-left: 9rem;
}

.blogs_write_items button:hover {
    color: #b97a56;
    transition: 0.5s;
}

.blogs_write_item_desc {
    font-size: 1.01rem;
    color: rgb(190, 183, 183);
}

.gift {
    margin-top: 9rem;
}

.git_items {
    width: 82rem;
}

.gift_big_img {
    position: relative;
    width: 100%;
    height: 10rem;
}

.gift_item h2 {
    position: absolute;
    z-index: 20;
    left: 40%;
    margin-top: 3rem;
    font-weight: 700;
}

.gift_logo {
    position: absolute;
    z-index: 30;
    left: 47%;
    margin-top: 7rem;
}

.teams {
    margin-top: 9rem;
}

.teams_items {
    width: 82rem;

}

.team_item img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

.teams_background {
    position: relative;
}

.team_item h4 {
    position: absolute;
    z-index: 10;
    left: 41%;
    margin-top: 12rem;
    font-size: 3rem;
    font-family: 'Crimson Text', serif;
    color: white;
}

.team_item_logo {
    position: absolute;
    z-index: 20;

}

.team_item h5 {
    position: absolute;
    left: 43%;
    color: white;
    z-index: 10;
    margin-top: 8rem;
    font-size: 3.2rem;
    font-family: 'Alex Brush', cursive;
}

.teams_logo {
    position: absolute;
    width: 7rem;
}

.teams {
    position: relative;
    top: 6rem;
}

.team_worker {
    position: absolute;
    top: 310px;
    left: 8%;
    right: 8%;
}

.team_worker_item .worker_img_hover {
    height: 96%;
    border: 2px solid #e1a385;
    position: absolute;
    top: 7px;
    width: 23.6%;
    text-align: center;
    opacity: 0;
    transition: 1s;
}

.worker_detail {
    position: absolute;
    top: 35%;
    left: 15%;
}

.worker_name h5 {
    font-size: 30px;
    font-family: serif;
}

.worker_position {
    color: #474141f2;
    font-size: 15px;
}

.worker_socials {
    display: flex;
    justify-content: space-evenly;
    padding: 5% 30% 0 30%;
    font-size: 20px;
    width: 210px;
}

.team_worker_items:hover .worker_img_hover {
    opacity: 1;
    background-color: #ffffffeb;
    transition: 0.5s;
}

.advertising {
    margin-top: 30rem;
}

.advertising_img img {
    position: relative;
    width: 25rem;
    height: 9rem;
    object-fit: cover;
}


.advertising_item h5 {
    position: absolute;
    left: 14%;
    font-size: 1.5rem;
    margin-top: 3.2rem;
    z-index: 20;
}

.advertising_item i {
    position: absolute;
    left: 11.5%;
    font-size: 1.4rem;
    margin-top: 3.4rem;
    color: 767272;
    z-index: 20;
}

.advertising_item p {
    position: absolute;
    z-index: 20;
    margin-top: 5rem;
    left: 14%;
    color: #767272;
    font-family: 'Alex Brush', cursive;
    font-size: 1.5rem;
}

.advertising_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.2rem;
}


.advertising_img2 img {
    position: relative;
    width: 25rem;
    height: 9rem;
    object-fit: cover;
}


.advertising_item2 h5 {
    position: absolute;
    font-size: 1.5rem;
    margin-top: 3.2rem;
    margin-left: 6rem;
    z-index: 20;
}

.advertising_item2 i {
    position: absolute;
    font-size: 1.4rem;
    color: 767272;
    z-index: 20;
    margin-top: 3.3rem;
    margin-left: 4rem;
}

.advertising_item2 p {
    position: absolute;
    z-index: 20;
    color: #767272;
    font-family: 'Alex Brush', cursive;
    font-size: 1.5rem;
    margin-top: 5rem;
    margin-left: 6.5rem;
}

.advertising_img3 img {
    position: relative;
    width: 25rem;
    height: 9rem;
    object-fit: cover;
}


.advertising_item3 h5 {
    position: absolute;
    z-index: 30;
    font-size: 1.5rem;
    margin-top: 3.2rem;
    margin-left: 6rem;
}

.advertising_item3 i {
    position: absolute;
    font-size: 1.4rem;
    color: 767272;
    z-index: 20;
    margin-top: 3.3rem;
    margin-left: 4rem;
}

.advertising_item3 p {
    position: absolute;
    font-family: 'Alex Brush', cursive;
    z-index: 20;
    color: #767272;
    font-size: 1.5rem;
    margin-top: 5rem;
    margin-left: 6.2rem;
}

.portfolio {
    margin-top: 8rem;
}

.portfolio_items {
    margin-top: 8rem;
}

.portfolio_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio_item img {
    width: 18rem;
    object-fit: cover;
    cursor: pointer;
}

.portfolio_img1 {
    position: relative;
    z-index: 20;
}

.portfolio_img1_hover_absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.7s;
    opacity: 0;
}

.portfolio_img1:hover .portfolio_img1_hover {
    opacity: 0;
}

.portfolio_img1:hover .portfolio_img1_hover_absolute {
    opacity: 1;
    transition: 1.5s;
}





.portfolio_img2 {
    position: relative;
    z-index: 20;
}

.portfolio_img2_hover_absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.7s;
    opacity: 0;
}

.portfolio_img2:hover .portfolio_img2_hover {
    opacity: 0;
}

.portfolio_img2:hover .portfolio_img2_hover_absolute {
    opacity: 1;
    transition: 1.5s;
}


.portfolio_img3 {
    position: relative;
    z-index: 20;
}

.portfolio_img3_hover_absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.7s;
    opacity: 0;
}

.portfolio_img3:hover .portfolio_img3_hover {
    opacity: 0;
}

.portfolio_img3:hover .portfolio_img3_hover_absolute {
    opacity: 1;
    transition: 1.5s;
}




.portfolio_img4 {
    position: relative;
    z-index: 20;
}

.portfolio_img4_hover_absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.7s;
    opacity: 0;
}

.portfolio_img4:hover .portfolio_img4_hover {
    opacity: 0;
}

.portfolio_img4:hover .portfolio_img4_hover_absolute {
    opacity: 1;
    transition: 1.5s;

}

.portfolio_item2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}

.portfolio_item2 img {
    width: 18rem;
    object-fit: cover;
    cursor: pointer;
}


.portfolio_img5 {
    position: relative;
    z-index: 20;
}

.portfolio_img5_hover_absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.7s;
    opacity: 0;
}

.portfolio_img5:hover .portfolio_img5_hover {
    opacity: 0;
}

.portfolio_img5:hover .portfolio_img5_hover_absolute {
    opacity: 1;
    transition: 1.5s;
}

.portfolio_img6 {
    position: relative;
    z-index: 20;
}

.portfolio_img6_hover_absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.7s;
    opacity: 0;
}

.portfolio_img6:hover .portfolio_img6_hover {
    opacity: 0;
}

.portfolio_img6:hover .portfolio_img6_hover_absolute {
    opacity: 1;
    transition: 1.5s;
}



.portfolio_img7 {
    position: relative;
    z-index: 20;
}

.portfolio_img7_hover_absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.7s;
    opacity: 0;
}

.portfolio_img7:hover .portfolio_img7_hover {
    opacity: 0;
}

.portfolio_img7:hover .portfolio_img7_hover_absolute {
    opacity: 1;
    transition: 1.5s;
}


.portfolio_img8 {
    position: relative;
    z-index: 20;
}

.portfolio_img8_hover_absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.7s;
    opacity: 0;
}

.portfolio_img8:hover .portfolio_img8_hover {
    opacity: 0;
}

.portfolio_img8:hover .portfolio_img8_hover_absolute {
    opacity: 1;
    transition: 1.5s;
}

.subscribe {
    margin-top: 8rem;
}

.subscribe_background_img {
    width: 86rem;
}

.subscribe_background_img img {
    width: 100%;
    height: 14rem;
    object-fit: cover;
}

.subscribe_background_img {
    position: relative;
}

.subscribe_items {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}

.subscribe_title h3 {
    font-family: 'Alex Brush', cursive;

    font-size: 4rem;
    color: white;
}
.subscribe_title p{
    color: white;
    font-size: 1rem;
}
.subscribe_input_item{
    margin-left: 20rem;
    margin-top: 6rem;
}
.subscribe_title{
    margin-left: 5rem;
    margin-top: 3rem;
}
.subscribe_input_item input{
border: none;
height: 3.1rem;
}
.subscribe_input_item button{
    border:none;
    padding: 0.5rem;
}
.subscribe_input_item button:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}